.table-pagination {
    flex-grow: 1;
    text-align: center;
  }
  
  .btn-pagination{
      margin-right: 10px;
      
  }
  
  .btn-circle.btn-sm {
      width: 30px;
      height: 30px;
      padding: 7px 10px;
      border-radius: 25px;
      font-size: 10px;
      text-align: center;
    }